<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>Scorify</title>
</head>
<body>
    <!–– NavBar Section ––>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-2">
      <div class="container-fluid">
        <a class="navbar-brand mb-0 h1 px-2 fs-4 font-monospace" href="/">Scorify</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="/match_details">Start Match</a>
            </li>
          </ul>
        </div>
        <form class="d-flex mb-0">
          <input class="form-control me-2 " type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
      </div>
    </nav>
    <div class="container-fluid mw-100  m-0 p-0" style="height: 100px;">
    <img src="https://static01.nyt.com/images/2021/01/20/world/19India-cricket-print/19India-cricket1-videoSixteenByNineJumbo1600.jpg" class="mw-100 m-0 ">
    </div>
    <br>
    <div class="container">
      <div class="card text-center "style="width: 25rem; background-color: rgba(245, 245, 245, 0.9); ">
        <nav class="p-2">
          <div class="nav nav-pills" id="nav-tab" role="tablist">
            {% if match.flag %}
              <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">{{ match.team1.0 }}</button>
              <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">{{ match.team2.0 }}</button>
            {% else %}
              <button class="nav-link" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">{{ match.team1.0 }}</button>
              <button class="nav-link active" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">{{ match.team2.0 }}</button>
            {% endif %}
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          {% if match.flag %}
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="card-body">
              <h2>{{ match.team1.1 }} - {{ match.team1.2 }}</h2>
              <h3>{{ match.team1.4 }}</h3>
            </div>
          </div>
          <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <div class="card-body">
              <h2>Yet to Bat</h2>
              <h3>&nbsp;</h3>
            </div>
          </div>
          {% else %}
          <div class="tab-pane fade " id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="card-body">
              <h2>{{ match.team1.1 }} - {{ match.team1.2 }}</h2>
              <h3>{{ match.team1.4 }}</h3>
            </div>
          </div>
          <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <div class="card-body">
              <h2>{{ match.team2.1 }} - {{ match.team2.2 }}</h2>
              <h3>{{ match.team2.4 }}</h3>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
      <br>
      <div class="card" style="width: 25rem; background-color: rgba(245, 245, 245, 1); ">
          <div class="btn-group-vertical m-4" role="group" aria-label="Basic example">
            <div class="btn-group">
              <form  action="{% url 'scorecard' %}" method="post" style="width: 40rem;">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-secondary w-25 py-3 " name='inputValue' value='one'>1</button>
                <button type="submit" class="btn btn-outline-secondary w-25 py-3 " name='inputValue' value='two'>2</button>
                <button type="submit" class="btn btn-outline-secondary w-25 py-3 " name='inputValue' value='three'>3</button>
              </form>
            </div>

            <div class="btn-group">
              <form  action="{% url 'scorecard' %}" method="post" style="width: 40rem;">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-secondary w-25 py-3 " name='inputValue' value='four'>Four</button>
                <button type="submit" class="btn btn-outline-secondary w-25 py-3 " name='inputValue' value='six'>Six</button>
                <button type="submit" class="btn btn-outline-secondary w-25 py-3 " name='inputValue' value='five'>5</button>
              </form>
            </div>

            <div class="btn-group">
              <form  action="{% url 'scorecard' %}" method="post" style="width: 30rem;">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-secondary w-25 py-3 " name='inputValue' value='wide'>Wide</button>
                <button type="submit" class="btn btn-outline-secondary w-25 py-3 " name='inputValue' value='dot'>Dot</button>
                <button type="submit" class="btn btn-outline-secondary w-25 py-3 " name='inputValue' value='wicket'>Wicket</button>
              </form>
            </div>
            <div class="btn-group">
              <form  action="{% url 'scorecard' %}" method="post" style="width: 30rem;">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-secondary w-25 py-3 " name='inputValue' value='nb'>NB</button>
                <button type="submit" formaction='/' class="btn btn-outline-secondary w-25 py-3 " name='inputValue' value='clear'>CLEAR</button>
                <button type="submit" class="btn btn-outline-secondary w-25 py-3 " name='inputValue' value='undo'>UNDO</button>
              </form>
            </div>
        </div>
      </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>

</body>
</html>